<?xml version="1.0" encoding="UTF-8"?>
<settings>
<dsn>
	<encoding>ISO-8859-1</encoding>
</dsn>
	<bdd>
		<bddAccesses>
			<oracleBdd>
			    <defaut>true</defaut>
			    <host>host.ext</host>
			    <port>1521</port>
			    <instance>INSTANCE</instance>
				<user>TOTO_USER</user>
				<password>TOTO_PWD</password>
			</oracleBdd>
		</bddAccesses>
		<sqls/>
		<services>
		    <oracleServices>doc/tnsnames.ora</oracleServices>
		    <actif>false</actif>
		</services>
	</bdd>
	<norme>
	    <dsnnormefile>doc/dsn_cahier_technique_p3_2018.1.2.pdf</dsnnormefile>
	    <actif>false</actif>
	</norme>
</settings>
